*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	list-style: none;
}

body{
	min-height: 100vh;
	background: url(img/holyBG.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 28px 12%;
	transition: all .50s ease;
}

.logo{
	display: flex;
	align-items: center;
}

.logo img{
	width: 50px;
	height: 50px;
	margin-right: 3px;
	font-size: 28px;
}

.logo span{
	color: #fff;
	font-size: 1.7rem;
	font-weight: 600;
}

.main{
	display: flex;
	align-items: center;
}

.main a{
	position: relative;
	margin-right: 25px;
	margin-left: 5px;
	color: #fff;
	font-size: 1.1rem;
	font-weight: 600;
	transition: all .50s ease;
}

.main a::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background: #145A32;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .5s;
}

.main a:hover::after{
	transform-origin: left;
	transform: scaleX(1);
}

.user{
	display: flex;
	align-items: center;
}

.user i{
	color: #E67E22;
	font-size: 28px;
	margin-right: 7px;
}

.title{
	position: absolute;
	top: 50%;
	left: 52%;
	transform: translate(-50%, -40%);
	font-size: 75px;
	text-align: center;
	-webkit-text-stroke: 1px #fff;	
	color: transparent;
	background-image: linear-gradient(#E67E22, #E67E22);
	background-repeat: no-repeat;
	-webkit-background-clip: text;
	background-position: -500px 0;
	animation: backcolor 5s linear infinite;
}






@keyframes backcolor{
	100%{
		background-position: 0 0;
	}
}




@media (max-width: 1280px){
	header{
		padding: 14px 2%;
		transition: .2s;
	}
	.navbar a{
		padding: 5px 0;
		margin: 0px 20px;
	}
}

@media (max-width: 1090px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 270px;
		height: 29vh;
		background: #1E8449;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 10px;
		transition: all .50s ease;
	}
	.navbar a{
		display: block;
		margin: 12px 0;
		padding: 0px 25px;
		transition: all .50s ease;
	}
	.navbar.open{
		right: 2%;
	}
}